.Dropdown-root{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  transition: all 200ms linear;
  border-radius: 2px;
  width: fit-content;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  background-color:cornflowerblue;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 5px 5px 0 

}
.Dropdown-menu{
    background-color:aliceblue;
}
.Dropdown-option{
    border:steelblue;
    border-top: teal;
    border-radius: 2px;
    border-style: inset;
    font: sans-serif
}